[Files]
local_feed_xml_path = C:/Users/dbrue/Documents/GitHub/blog_reformatter/FullBlogDownload_Sept2026/Takeout/Blogger/Blogs/TheDEBLog
local_feed_xml_filename = feed.xml
local_image_path = C:/Users/dbrue/Documents/GitHub/blog_reformatter/FullBlogDownload_Sept2026/Takeout/Blogger/Albums/TheDEBLog

[Input]
feed_xml_encoding = UTF-8
feed_xml_root_element_name = xml
feed_xml_child_element_name = feed
feed_xml_entry_element_name = entry